<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>MyServer</display-name>
	<servlet>
		<servlet-name>MyServer</servlet-name>
		<display-name>MyServer</display-name>
		<description></description>
		<servlet-class>
		com.myserver.MyServer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Registration_Server</servlet-name>
		<display-name>Registration_Server</display-name>
		<description></description>
		<servlet-class>
		com.myserver.Registration_Server</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Pushing_Server</servlet-name>
		<display-name>Pushing_Server</display-name>
		<description></description>
		<servlet-class>
		com.myserver.Pushing_Server</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Get_Authentication_Code</servlet-name>
		<display-name>Get_Authentication_Code</display-name>
		<description></description>
		<servlet-class>
		com.myserver.Registration_Server</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Get_Authentication_Id</servlet-name>
		<display-name>Get_Authentication_Id</display-name>
		<description></description>
		<servlet-class>
		com.myserver.Registration_Server</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Get_Auth_Id</servlet-name>
		<display-name>Get_Auth_Id</display-name>
		<description></description>
		<servlet-class>
		com.myserver.Get_Auth_Id</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Get_Rating</servlet-name>
		<display-name>Get_Rating</display-name>
		<description></description>
		<servlet-class>
		com.myserver.Get_Rating</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Notification</servlet-name>
		<display-name>Notification</display-name>
		<description></description>
		<servlet-class>
		com.myserver.Get_Rating</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Notification1</servlet-name>
		<display-name>Notification1</display-name>
		<description></description>
		<servlet-class>
		com.myserver.Notification</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServer</servlet-name>
		<url-pattern>/MyServer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration_Server</servlet-name>
		<url-pattern>/Registration_Server</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Pushing_Server</servlet-name>
		<url-pattern>/Pushing_Server</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Get_Authentication_Code</servlet-name>
		<url-pattern>/Get_Authentication_Code</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Get_Authentication_Id</servlet-name>
		<url-pattern>/Get_Authentication_Id</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Get_Auth_Id</servlet-name>
		<url-pattern>/Get_Auth_Id</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Get_Rating</servlet-name>
		<url-pattern>/Get_Rating</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Notification</servlet-name>
		<url-pattern>/Notification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Notification1</servlet-name>
		<url-pattern>/Notification1</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
